@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<APIAbooking.Models.Room>

<nav aria-label="Room Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.MaxGuest)</th>
            <td> @Html.DisplayNameFor(model => model.NrBathroom)</td>
            <th> @Html.DisplayNameFor(model => model.Country)</th>
            <th> @Html.DisplayNameFor(model => model.Street)</th>
            <th> @Html.DisplayNameFor(model => model.City)</th>
            <th> @Html.DisplayNameFor(model => model.NoHouse)</th>
            <th> @Html.DisplayNameFor(model => model.Zip)</th>
            <th> @Html.DisplayNameFor(model => model.WhatSpaceCanUseGuests)</th>
            <th> @Html.DisplayNameFor(model => model.SpecialItem)</th>
            <th> @Html.DisplayNameFor(model => model.Photo)</th>
            <th> @Html.DisplayNameFor(model => model.Describe)</th>
            <th> @Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th> @Html.DisplayNameFor(model => model.Checkin)</th>
            <th> @Html.DisplayNameFor(model => model.Checkout)</th>
            <th> @Html.DisplayNameFor(model => model.Price)</th>
            <th> @Html.DisplayNameFor(model => model.Reserved)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaxGuest</td>
                <td>@item.NrBathroom</td>
                <td>@item.Country</td>
                <td>@item.Street</td>
                <td>@item.City</td>
                <td>@item.NoHouse</td>
                <td>@item.Zip</td>
                <td>@item.WhatSpaceCanUseGuests</td>
                <td>@item.SpecialItem</td>
                <td>@item.Photo</td>
                <td>@item.Describe</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Checkin</td>
                <td>@item.Checkout</td>
                <td>@item.Price</td>
                <td>@item.Reserved</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>
