@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<APIAbooking.Models.Room>

<nav aria-label="Room Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Max Guest</th>
            <td>Number of bathroom</td>
            <th>County</th>
            <th>Street</th>
            <th>City</th>
            <th>Number of house</th>
            <th>Zip</th>
            <th>What space can use guests</th>
            <th>Special item</th>
            <th>Photo</th>
            <th>Discribe</th>
            <th>Phone number</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Price</th>
            <th>Reserverd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (Model == null)
            {
        <tr>
           You dont have any post
        </tr>
            }
            else
            {
                <tr>
                    <td>@item.MaxGuest</td>
                    <td>@item.NrBathroom</td>
                    <td>@item.Country</td>
                    <td>@item.Street</td>
                    <td>@item.City</td>
                    <td>@item.NoHouse</td>
                    <td>@item.Zip</td>
                    <td>@item.WhatSpaceCanUseGuests</td>
                    <td>@item.SpecialItem</td>
                    <td>@item.Photo</td>
                    <td>@item.Describe</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Checkin</td>
                    <td>@item.Checkout</td>
                    <td>@item.Price</td>
                    <td>@item.Reserved</td>
                </tr>
            }

        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>
