@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<APIAbooking.Models.Room>
@*<a asp-action="PersonalInfo" asp-route-id="idClient">Personal info</a>*@

@foreach (var item in Model)
{
    @*<tr>
        <td>Name: @item.City, @item.Country</td>
        <td>Stret: @item.Street</td>
        <td>Number of guest: @item.MaxGuest</td>
        <td>@item.Price</td>
    </tr>*@


    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                <a asp-action="Booking" asp-controller="Room"  asp-route-id="@item.RoomId"> @item.City, @item.Country</a>
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@item.Price.ToString("c")</small>
                </span>
            </h4>
        </div>
        <form id="@item.RoomId" asp-action="Booking"
              asp-controller="Room" method="post">
          
                @item.Describe
                <button type="submit asp-action="Booking" asp-controller="Room"  asp-route-id="@item.RoomId"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Cart
                </button>
        </form>
    </div>
}
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>