@model IEnumerable<APIAbooking.Models.Client>

<html>
<head>
    <title>Client views</title>
</head>


<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Photo</th>
                <th>Type</th>
            </tr>
        </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.ClientId</td>
                    <td>@item.Name</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td>@item.ProfilePicture</td>
                    <td>@item.TypeOfUser</td>
                </tr>
                }
            </tbody>
        
    </table>
</body>
</html>